/* DIALOG */
.dialog {
  width: 75%;
  margin-inline: 12.5%;
  position: relative;
}

.dialog svg {
  cursor: pointer;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 35px;
  padding-bottom: 35px;
  color: var(--color-green-dark);
  background-color: var(--gray);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.dialogBox {
  padding: 8px;
  display: flex;
  position: relative;
  gap: .5rem;
}

.dialog .dialogTitle {
  font-size: x-large;
  text-align: center;
}

.dialog .boxImg {
  width: 60%;
}

.dialog .boxImgContent {
  display: flex;
  flex-direction: column;
}

.dialog .mainImg {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  margin-inline: auto;
}

.dialog .boxImgs {
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 1rem;
  gap: .5rem;
}

.dialog .boxImgs img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  cursor: pointer;
}

.dialog .boxImgs .active {
  border: 2px solid var(--color-green);
  transform: scale(1.1);
  opacity: 0.5;
  filter: grayscale(30%);
}

.dialog .boxContent {
  width: 40%;
  margin-top: 1rem;
}

.dialog .boxContent .description,
.drawer .boxContent .description {
  text-align: center;
}

.dialog .boxContent .textContent,
.drawer .boxContent .textContent {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
}

.dialog .boxContent .textContent .textTags,
.drawer .boxContent .textContent .textTags {
  margin-left: 1rem;
}

.dialog .boxContent .textContent .textTitle,
.drawer .boxContent .textContent .textTitle {
  text-align: center;
}

/* DRAWER */

.drawer {
  min-height: 80vh;
  overflow-y: auto;
  padding: .5rem .5rem;
  position: relative;
}

.drawer svg {
  cursor: pointer;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 60px;
  padding-bottom: 10px;
  color: var(--color-green-dark);
  background-color: var(--gray);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.drawer .dialogTitle {
  font-size: x-large;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: .5rem;
}

.drawer .mainImg {
  width: 75%;
  height: 225px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.drawer .boxImgContent {
  display: flex;
  justify-content: space-between;
}

.drawer .boxImgs {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 225px;
  padding: .5rem;
  gap: .5rem;
}

.drawer .boxImgs img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  cursor: pointer;
}

.drawer .boxImgs .active {
  border: 2px solid var(--color-green);
  transform: scale(1.1);
  opacity: 0.5;
  filter: grayscale(30%);
}


@media (max-width: 680px) {
  .dialog {
    width: 90%;
    margin-inline: 5%;
  }
}

@media (max-width: 550px) {
  .dialog {}
}