/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@font-face {
  font-family: "AnkeCalligraphic";
  src: url(./fonts/AnkeCalligraphicFG.woff2) format("woff2"),
    url(./fonts/AnkeCalligraphicFG.woff) format("woff"),
    url(./fonts/AnkeCalligraphic.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: var(--white);
}

:root {
  --color-brown: #64201b;
  /*--color-green: #0F3D2E;*/
  --color-green: #031A16;
  --color-green-light: #0B4A3B;
  --color-yellow: #ffca2c;
  --color-gold: #D4A017;
  --color-orange: #fbab18;
  --white-nav: #f9f9f9;
  --white: #f2f2f2;
  --gray: #E3DFDA;

  --font-title: "AnkeCalligraphic", sans-serif;
  --font-text: "Montserrat", sans-serif;
  /*--font-text2: "Source Sans 3", sans-serif;*/
  --font-text2:"Cormorant Garamond", serif;
}


.font-title {
  font-family: var(--font-title);
}

.font-text {
  font-family: var(--font-text);
}

.font-style {
  font-family: var(--font-text2);
}

.main_section{
  margin-top: 4rem;
}


/*nest-hub*/
@media (max-width: 1024) {
  .main_section {
    margin-top: 45rem;
  }
}

/*
p {
  font-family: var(--font-text);
}

.section {
  width: 60%;
  margin-inline: 20%;
  margin-top: 4em;
  margin-bottom: 1.5em;
}

.section-work {
  width: 70%;
  margin-inline: 15%;
  margin-top: 4em;
  margin-bottom: 1.5em;
}

.section-contacts {
  width: 90%;
  margin-inline: 5%;
  margin-top: 4em;
  margin-bottom: 1.5em;
}

.section h1,
.section-work h1,
.section-contacts h1 {
  font-family: var(--font-title);
  text-align: center;
  font-size: 60px;
  margin-bottom: .2em;
}

.products-title {
  font-family: var(--font-title);
  text-align: center;
  font-size: 40px;
  margin-bottom: .2em;
}

.section-bags h1 {
  font-family: var(--font-title);
  text-align: center;
  font-size: 60px;
  margin-bottom: 1em;
}


.scroll-container {
  display: flex;
  overflow-x: auto;
  cursor: grab;
  padding: 10px;
  padding-inline: 40px;
}

.scroll-container:active {
  cursor: grabbing;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .section-work {
    width: 90%;
    margin-inline: 5%;
  }
}

@media (max-width: 448px) {
  .section {
    width: 90%;
    margin-inline: 5%;
  }
}

*/